<!doctype html>
<link rel="shortcut icon" href="/favicon.ico">

<title>Flaskr</title>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<div class=page>

  <script type="text/javascript" language="JavaScript">
    var now = new Date();
    var noryoku_date = new Date(2014, 6, 6, 0, 0, 0);
    document.write('<p align="center">' + '<font size=20 color="red">' + 'До Норёку Сикен осталось ' + Math.floor((noryoku_date.getTime() - now.getTime()) / 86400000)
    + ' дней' + '<\/font>' + '<\/p>');
  </script>

  <h1>Kanji analyzer</h1>
  {% block body %}{% endblock %}
</div>