{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Kanjies_text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Analyze>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
    <li><h2> Your text is: </h2>
    <h3>{{ entry.text }}</h3>
    <li><h2> Kanjies_text contains only kanjies symbol: </h2>
    <h3>{{ entry.clear_text | safe }}</h3>
    <li><h2> List of kanjies: </h2>
    <h3>N1: {{ entry.N1 | safe }}</h3>
    <h3>N2: {{ entry.N2 | safe }}</h3>
    <h3>N3: {{ entry.N3 | safe }}</h3>
    <h3>N4: {{ entry.N4 | safe }}</h3>
    <h3>N5: {{ entry.N5 | safe }}</h3>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}